<div class="modal-header">
	<div class="row">
		<div class="col-md-2 text-right pull-right">
		<i class="fa fa-close fa-2x" ng-click="close()"></i>
		</div>
	</div>
</div>
<div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>SER</th>
          <th>Code Head</th>
          <th>Minor Head</th>
          <th>Name</th>
          <th>Unit</th>
          <th>Date</th>
          <th>Allotment Amount</th>
          <th>Utilisation Amount</th>
          <th>Balance</th>
					<th>Withdraw Amount</th>
					<th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="k in data track by $index">
          <th>#{{k.pk}}</th>
          <td  >{{k.codeHead}}</td>
          <td  >{{k.minorHead}}</td>
          <td>{{k.name}}</td>
          <td>{{k.unit.first_name}} </td>
          <td>{{k.created | date}}</td>
          <td>{{k.allotmentAmount}}</td>
          <td>{{k.withdrawalAmount}}</td>
          <td>{{k.balance}}</td>
					<td> <input  ng-if="!k.unit.is_superuser"type="text" class="form-control"  ng-model="k.wihdrawAmount"  /></td>
					<td> <button ng-if="!k.unit.is_superuser" class="btn btn-primary" ng-click="withdraw($index, k)">Withdraw</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
