<div class="shaddowed card bg-white" style="min-height:93vh;">
  <breadcrumb></breadcrumb>
  <div class="container-fluid">
    <div class="row" style="margin-top:20px;margin-bottom:20px;">
      <div class="col-md-offset-6 col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search with username" ng-model="search.searchText" ng-change="viewAllocation()">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="refresh()">
              <i class="fa fa-refresh"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-sm btn-primary btn-block" style="padding:8px 18px" ng-click="prev()">Prev</button>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-sm btn-primary btn-block " style="padding:8px 18px" ng-click="next()">Next</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;margin-bottom:20px;">
      <div class="col-md-12">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>SER</th>
          <th>Code Head</th>
          <th>Minor Head</th>
          <th>Name</th>
          <th>Date</th>
          <th ng-click="viewAllAllotment()" style="cursor:pointer">Allotment Amount</th>
          <th ng-click="viewAllUtilisation()" style="cursor:pointer">Utilisation Amount</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="k in allotmentList track by $index" >
          <td>#{{$index+1}}</td>
          <td  >{{k.codeHead}}</td>
          <td  >{{k.minorHead}}</td>
          <td>{{k.name}}</td>
          <td>{{k.created | date}}</td>
          <td>{{k.allotmentAmount}}</td>
          <td>{{k.withdrawalAmount}}</td>
          <td>{{k.balance}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>
</div>
